@font-face {
    font-family: 'foody';
    src: url(../fonts/Game_Time.ttf) format('truetype');
}

@font-face {
    font-family: 'mano';
    src: url(../fonts/mano.ttf) format('truetype');
}

@font-face {
    font-family: 'century';
    src: url(../fonts/CenturyGothic.ttf) format('truetype');
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100vw;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    width: 100%;
}
p {
    color: $blanco;
    font-size: 2rem;
    margin: 0;
}
.contenedor-foody{
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    font-weight: 900;
    color: $rojo;
    text-align: center;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    text-align: center;
}
button{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

input{
    font-family: $font;
    color: $negro;
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem solid $negro;
}