.contenido-resumen{
width: 100%;
height:fit-content;
p{
font-family: $texto;
font-size: 2rem;
display: block;
text-align: center;
margin-top: 2rem;
&:first-child{
    font-size: 5rem;
}

}

span{
    font-family: $font;
    font-size: 2rem;
    padding:2rem;
}

.resumen-pedido{
    width: 80%;
    margin: 0px auto;
    margin-top: 1rem;

    .contPedido{
        @include grid(2,0rem);
        p{
            font-size: 3.5rem;
            text-align: center;
            display: block;
            margin-top: 0rem;
            padding: 0.5rem;
            &:nth-child(1){
                border-top: 0.4rem solid $rojo;
                color: $verde;
            }
            &:nth-child(2){
                border-top: 0.4rem solid $rojo;
                font-family: $texto;
                font-weight: bold;
                font-size: 3rem;
                letter-spacing: 0.5rem;
            }
            &:nth-child(3){
                font-family: $font;
                font-weight: bold;
                letter-spacing: 0.2rem;
                font-size: 4rem;
            }
            
        }
    }
}


        .invalidar-pedido{
            display: block;
            width: 70%;
            margin: 0px auto;
            background-color: $verde;
            text-align: center;
            color: $blanco;
            font-family: $font;
            font-size: 2.5rem !important;
            padding: 4rem;
            border-radius: 1rem;
            margin-top: 10rem;
            margin-bottom: 10rem;
        
        }

        .total{
            font-family: $font;
            p{
                font-size: 4.8rem;
                letter-spacing: 0.1rem;
                display: block;
                background-color: $rojo;
                color: $blanco;
                font-family: $font;
                padding: 1rem;
                margin: 0px auto;
                &:first-child{
                    margin: 0px auto;
                    padding: 0px;
                    margin-top: 3rem;
                    font-size: 4rem;
                    background-color: transparent;
                    color: $negro;
                    font-family: $texto;
                }
            }
        }
    }
    
