.contenido-resumen{
width: 100%;
height: calc(100vh-40rem);

        .invalidar-pedido{
            display: block;
            width: 80%;
            margin: 0px auto;
            background-color: $rojo;
            text-align: center;
            color: $blanco;
            font-family: $font;
            font-size: 2.5rem;
            padding: 3rem;
        
        }
    }
    
