.contenido-resumen{
width: 100%;
height:fit-content;
p{
font-family: $texto;
font-size: 2rem;
display: block;
text-align: center;
margin-top: 2rem;
&:first-child{
    font-size: 5rem;
}

}

span{
    font-family: $font;
    font-size: 2rem;
    padding:2rem;
}

.resumen-pedido{
    width: 80%;
    margin: 0px auto;
    margin-top: 1rem;

    .contPedido{
        @include grid(2,0rem);
        p{
            font-size: 4rem;
            text-align: center;
            display: block;
            margin-top: 0rem;
            padding: 0.5rem;
            &:nth-child(1){
                border-top: 0.4rem solid $rojo;
                color: $verde;
            }
            &:nth-child(2){
                border-top: 0.4rem solid $rojo;
            }
            
        }
    }
}


        .invalidar-pedido{
            display: block;
            width: 50%;
            margin: 0px auto;
            background-color: $rojo;
            text-align: center;
            color: $blanco;
            font-family: $font;
            font-size: 2.5rem;
            padding: 3rem;
        
        }

        .total{
            p{
                font-size: 5.5rem;
                display: block;
                background-color: $rojo;
                color: $blanco;
                &:first-child{
                    margin: 0px auto;
                    padding: 0px;
                    font-size: 4rem;
                    background-color: transparent;
                    color: $negro;
                }
            }
        }
    }
    
