html{
    background: $fondo;
    height: 100vh;
}


body::-webkit-scrollbar{
    width: 0rem;
    background-color: $blanco;
}

body::-webkit-scrollbar-thumb{
    background-color: $rojo;
    border-radius: 5rem;
}

body{
    width: 100vw;
}

h1{
    margin:0px auto;
    font-size: 15rem;
    font-weight: 100;
    letter-spacing: .4rem;
    @include tablet{
        font-size: 12rem;
    }
}

header{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

footer{
    height: 4rem;
    font-size: 3rem;
    line-height: 5rem;
    margin: 1rem;
    font-weight: 10;
    color: $rojo;
    font-family: $font;
}

.contenedor-foody{
    height: fit-content;
    overflow: hidden;
    width: 100vw;
}
.section{
    display: none;
    background-color: $blanco;


  
    h2{
        letter-spacing: .3rem;
        display: block;
        background-color: $rojo;
        color: $blanco;
        margin-top: 3rem;
        font-weight: 10;
        font-size: 3rem;
        padding: 1rem;
        width:100vw;
    }
    p{
        font-family: $texto;
        font-size: 4rem;
        font-weight: 700;
        color:$negro;

   
    }
    .text-center{
        margin-bottom: 2rem;
    }
}

.mostrar-seccion{
    display: block!important;
    width: fit-content;
    overflow: hidden;

}

#foody{
background-image:url("../img/foody.webp");
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}